.footer-wrapper {
  z-index: 100;

  padding: 0.8rem;

  background-color: var(--primary-background-color);

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    height: 5rem;

    .nav-bottom {
      display: flex;
      justify-content: space-between;

      .nav-column {
        ul {
          list-style: none;
          padding-right: 1.6rem;
        }
      }
    }

    .options {
      display: flex;
      justify-content: space-around;
      align-items: center;

      ul {
        list-style: none;
        display: flex;
        // align-items: center;
        // justify-content: flex-end;
        height: 4rem;

        li {
          display: flex;
          align-items: center;
          height: 100%;
          padding-right: 1.6rem;
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer;
          transition: 0.5s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }

          a {
            position: relative;
            display: flex;
            align-items: center;

            height: 100%;
          }
        }
        .shipping-options {
          padding: 0;
        }
      }
    }
  }
}
