.checkout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .order,
  .payment {
    width: 45%;
  }

  .total-value {
    margin: 0.8rem;
    padding: 0.8rem;
    font-weight: 700;
    text-align: center;
    border: 0.1rem dotted var(--primary-accept-color);
    border-radius: 1rem;
  }

  ul {
    list-style: none;
    padding: 0.8rem;
    border: 1px solid var(--primary-font-color);
    border-radius: 1rem;

    li {
      padding: 0.4rem;
      list-style: none;
    }
  }
}
