.product {
  width: 100%;
  display: flex;
  flex-direction: column;

  .url-path {
    font-size: 0.8rem;
  }

  .product-image-info {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 35rem;
    width: 90%;

    .product-image {
      position: relative;
      border-radius: 0.5rem;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .product-info-add-to-cart {
      display: flex;
      flex-direction: column;
      width: 50%;

      .product-info {
        width: 100%;

        ul {
          list-style: none;

          .product-name {
            text-transform: capitalize;
          }
          .product-category {
            text-decoration: underline;
          }

          .product-description {
            padding: 0.8rem;
            line-height: 1.5rem;
            font-style: italic;
          }
        }
      }
    }
  }
}
