.all-products {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  justify-content: space-around;
  // justify-content: space-evenly;

  .single-product {
    width: 30%;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;

    // &:last-child {
    //   justify-self: end;
    // }

    &:hover {
      transform: scale(1.05);
    }

    .product-image {
      position: relative;
      border-radius: 0.5rem;
      height: 15rem;
      overflow: hidden;
    }

    .product-name {
      padding: 0.5rem;
      text-align: center;
    }
  }
}
